{% extends 'base.html' %}

{% block head %}
    <title>Edit Profile</title>
    <h2  class="container" style="text-align: right">Hello, {{ user }}</h2>
{% endblock %}

{% block body %}
    <div class="container">
    <hr>
        <form method="post" style="width:100%;">
            {% csrf_token %}
            <div>
                {{ form_user.as_p }}
            </div>

            <div>
                {{ form_userprofile.as_p }}
            </div>
        <hr>
            <button type="submit">Submit</button>

        </form>

    <br>
    </div>
{% endblock %}