{% extends 'base.html' %}

{% block head %}
    <title>Edit Profile</title>
    <h2  class="container" style="text-align: right">{{ user }}</h2>
{% endblock %}

{% block body %}
    <div style="text-align:right; width:500px;">
        <form method="post">
            {% csrf_token %}
            {{ form_user.as_p }}
        {{ form_user.errors }} {{ form_user.non_field_errors }}
            {{ form_userprofile.as_p }}
        {{ form_userprofile.errors }} {{ form_userprofile.non_field_errors }}
            <button type="submit">Submit</button>

        </form>
    <br>
    </div>
{% endblock %}