body{
            background-color: antiquewhite;*/
            /*background-image: url('/static/background.jpg');*/
            background-position: center;
            background-size: cover;
        }

h1,h2,h3 {
            text-align: center;
        }

form {
            width:400px;
            margin: 0 auto;
}